#accountButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 5%;
  font-size: 16px;
  color: white;
  background-color: #121212;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 25px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.accountButtonArrowIcon {
  margin-left: 10px;
  font-size: 18px;
}

#downArrowIcon {

}

#upArrowIcon {
  display: none;
}

#accountButtonOptionPanel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 55px; 
  background-color: #121212;
  display: none;
}

.accountButtonOptionPanelOption {
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #9B9B9B;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.accountButtonOptionPanelOption:hover {
  color: white;
  background: linear-gradient(90deg, rgba(138,37,177,1) 0%, rgba(23,97,160,1) 100%);
}