#playlistAlbumBackButton {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2%;
  margin-left: 4%;
  background-color: #121212;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50px;
  color: #9b9b9b;
  transition: color 0.3s;
}

#playlistAlbumBackButton:hover {
  color: white;
}
