#home {
	/*background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(75,73,73,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);*/
	background-color: #181818;
	position: fixed; 
	top: 0; 
	left: 0; 
	margin-left: 125px;
	width: -webkit-calc(100% - 125px);
    width:    -moz-calc(100% - 125px);
    width:         calc(100% - 125px);
    height: -webkit-calc(100% - 100px);
    height:    -moz-calc(100% - 100px);
    height:         calc(100% - 100px);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: scroll;
}

#title {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 36px;
	color: #9B9B9B;
	letter-spacing: 2px;
}

#subtitle {
	width: 80%;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 22px;
	font-weight: bold;
}

#listsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}

.listContainer {
	width: auto;
	display: flex;
	padding-left: 200px;
	padding-right: 200px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
