#home {
	/*background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(75,73,73,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);*/
	background-color: #181818;
	position: fixed; 
	top: 0; 
	left: 0; 
	margin-left: 125px;
	width: -webkit-calc(100% - 125px);
    width:    -moz-calc(100% - 125px);
    width:         calc(100% - 125px);
    height: -webkit-calc(100% - 100px);
    height:    -moz-calc(100% - 100px);
    height:         calc(100% - 100px);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: scroll;
}

#title {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 36px;
	color: #9B9B9B;
	letter-spacing: 2px;
}

#subtitle {
	width: 80%;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 22px;
	font-weight: bold;
}

.artistContainer {
	margin: 25px 25px 25px 25px;
}

.artistImg {
	width: 225px;
	height: 225px;
	background-color: green;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.artistIconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -225px;
	width: 225px;
	height: 225px;
	border-radius: 50%;
	transition: 0.3s;
	background-color: transparent;
}

.artistIconContainer:hover {
	background-color: rgb(0,0,0,0.3);
	cursor: pointer;
}

.artistIconContainer:hover > .moreInfoIcon {
	visibility: visible;
  	opacity: 1;
}

.moreInfoIcon {
	font-size: 40px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
}

.artistName {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	margin-top: 20px;
}

.listContainer {
	width: auto;
	display: flex;
	padding-left: 200px;
	padding-right: 200px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.songContainer {
	margin: 25px 25px 25px 25px;
}

.songImg {
	width: 225px;
	height: 225px;
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.playSongIconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -225px;
	width: 225px;
	height: 225px;
	transition: 0.3s;
	background-color: transparent;
}

.playSongIconContainer:hover {
	background-color: rgb(0,0,0,0.3);
	cursor: pointer;
}

.playSongIconContainer:hover > .playSongIcon {
	visibility: visible;
  	opacity: 1;
}

.playSongIcon {
	font-size: 100px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
}

.songName {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	margin-top: 8px;
	margin-bottom: 2px;
}

.songArtist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #9B9B9B;
}