#landingPage {
	background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(18,18,18,1) 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	overflow: hidden;
}

#landingPageLogoTitleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 75px;
}

#landingPageLogo {
	margin-right: 50px;
}

#landingPageTitlesContainer {
	display: flex;
	flex-direction: column;
}

#landingPageTitle {
	font-size: 100px;
	font-weight: 600;
}

#landingPageSubtitle {
	color: #9B9B9B;
	font-size: 40px;
	font-weight: lighter;
}

#landingPageLogInButton {
	background: linear-gradient(90deg, rgba(138,37,177,1) 0%, rgba(23,97,160,1) 100%);
	color: white;
	text-align: center;
	border-radius: 10px;
	padding: 10px 30px 10px 30px;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 22px;
	transition: 0.3s;
	text-decoration: none;
}

#landingPageLogInButton:hover {
	cursor: pointer;
	transform: scale(1.05);
}