#playlistAlbum {
	background: rgb(42,42,42);
	background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(18,18,18,1) 100%);
	/*background-color: #181818;*/
	position: fixed; 
	top: 0; 
	left: 0; 
	margin-left: 125px;
	width: -webkit-calc(100% - 125px);
    width:    -moz-calc(100% - 125px);
    width:         calc(100% - 125px);
    height: -webkit-calc(100% - 100px);
    height:    -moz-calc(100% - 100px);
    height:         calc(100% - 100px);
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#playlistAlbumInfoContainer {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#playlistAlbumImg {
	width: 300px;
	height: 300px;
}

#playlistAlbumName {
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 36px;
	font-weight: bold;
}

#playlistAlbumArtist {
	color: #9B9B9B;
	font-weight: bold;
	font-size: 20px;
}

#playlistAlbumPlayButton {
	margin-top: 30px;
	margin-bottom: 20px;
	background: linear-gradient(90deg, rgba(138,37,177,1) 0%, rgba(23,97,160,1) 100%);
	width: 100px;
	text-align: center;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 18px;
}

#playlistAlbumYearAndSongs {
	color: #9B9B9B;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
}

#playlistAlbumSongsContainer {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.playlistAlbumSong {
	display: flex;
	flex-direction: row;
	padding-top: 25px;
	padding-bottom: 25px;
	transition: 0.3s;
}

.playlistAlbumSong:hover {
	background-color: #3e3e3e;
}

.playlistAlbumSong:hover .playlistAlbumMusicMoreInfoIcon {
	display: block;
}

.playlistAlbumMusicNoteIconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 5%;
	height: 100%;
}

.playlistAlbumMusicNoteIcon {
	font-size: 25px;
	color: #9B9B9B;
}

.playlistAlbumPlayIcon {
	font-size: 25px;
	color: white;
	display: none;
	cursor: pointer
}

.playlistAlbumSongInfo {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.playlistAlbumSongName {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.playlistAlbumSongArtist {
	color: #9B9B9B;
}

.playlistAlbumMusicMoreInfoIconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 5%;
	height: 100%;
}

.playlistAlbumMusicMoreInfoIcon {
	font-size: 30px;
	display: none;
	cursor: pointer;
}

.playlistAlbumMoreInfoPanel {
	position: absolute;
	width: 250px;
	height: auto;
	background-color: #121212;
	margin-left: -150px;
	margin-top: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}

.playlistAlbumMoreInfoOption {
	padding: 10px 15px 10px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #9B9B9B;
	transition: 0.3s;
	cursor: pointer;
}

.playlistAlbumMoreInfoOption:hover {
	color: white;
	background: linear-gradient(90deg, rgba(138,37,177,1) 0%, rgba(23,97,160,1) 100%);
}

.playlistAlbumMusicSongLength {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 100%;
	color: #9B9B9B;
}