#playlistAlbum {
	background: rgb(42,42,42);
	background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(18,18,18,1) 100%);
	/*background-color: #181818;*/
	position: fixed; 
	top: 0; 
	left: 0; 
	margin-left: 125px;
	width: -webkit-calc(100% - 125px);
    width:    -moz-calc(100% - 125px);
    width:         calc(100% - 125px);
    height: -webkit-calc(100% - 100px);
    height:    -moz-calc(100% - 100px);
    height:         calc(100% - 100px);
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#playlistAlbumInfoContainer {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#playlistAlbumImg {
	width: 300px;
	height: 300px;
}

#playlistAlbumName {
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 36px;
	font-weight: bold;
}

#playlistAlbumArtist {
	color: #9B9B9B;
	font-weight: bold;
	font-size: 20px;
}

#playlistAlbumPlayButton {
	margin-top: 30px;
	margin-bottom: 20px;
	background: linear-gradient(90deg, rgba(138,37,177,1) 0%, rgba(23,97,160,1) 100%);
	width: 100px;
	text-align: center;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 18px;
}

#playlistAlbumYearAndSongs {
	color: #9B9B9B;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
}

#playlistAlbumSongsContainer {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

